.xnotet {
    width:100%;
    display: inline-block;
    margin: 0;
    border-left: 0.5em solid #52e052;
    border-right: 6px solid #e9fbe9;
    border-top: 6px solid #e9fbe9;
    border-bottom: 6px solid #e9fbe9;

    overflow: auto;
    page-break-inside: avoid;
}
.xnotea {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.xwarnt {
    width:100%;
    display: inline-block;
    margin: 0;
    border-left: 0.5em solid #f11;
    border-right: 6px solid #fbe9e9;
    border-top: 6px solid #fbe9e9;
    border-bottom: 6px solid #fbe9e9;

    overflow: auto;
    page-break-inside: avoid;
}
.xwarna {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.xnotep {
    font-weight: bold;
}
code {
    color: red;
    font-size: 1rem!important;
}
pre.nohighlight {
    padding: 0.5em;
    margin: 0;
}
.codecolor {
    width:100%;
    display: inline-block;
    margin: 0;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 7px;
    border: 1px solid black;
}
div.nohighlight {
    padding: 0.5em
}

ul>li {
    text-indent: 0em;
}

ul.plain {
    list-style: none;
}
ul.plain>li {
    text-indent: -1em;
}
ul.plain>li>div {
    text-indent:0;
}
ul.plain>li>p {
    text-indent:0;
}

.bullet{
    font-size: large;
    color: blue;
}


.xcard {
    padding: 0rem 0rem;
    margin: 0;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    margin-bottom: 1rem;
}

.xcard>header{border-top-left-radius: 5px;border-top-right-radius: 5px ;padding:0.3rem 1rem;background-color:#f1f1f1!important}
.xcard>p,.xcard>div{margin:1rem 1rem;}
.xcard>ul,.xcard>ol{padding-right:1rem}


.xcard-header:after,.xcard-header:before{content:"";display:table;clear:both}
.xcard-header{border-top-left-radius: 5px;border-top-right-radius: 5px ;padding:0.01em 16px;background-color:#f1f1f1!important}
.xcard-content{padding:0px 16px;}

.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-table-all tr{border-bottom:1px solid #ddd}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
